<?xml version='1.0' encoding='UTF-8'?>

<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>

    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>demo.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE"/>
    </root>
</configuration>

<!--<configuration debug="false">-->
<!--&lt;!&ndash; 应用名称 &ndash;&gt;-->
<!--<property name="APP_NAME" value="logtest" />-->
<!--&lt;!&ndash;定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径&ndash;&gt;-->
<!--<property name="LOG_HOME" value="${log.dir:-logs}/${APP_NAME}" />-->
<!--&lt;!&ndash; 控制台输出 &ndash;&gt;-->
<!--<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
<!--    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
<!--        &lt;!&ndash;格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符&ndash;&gt;-->
<!--        <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg  %n</pattern>-->
<!--    </encoder>-->
<!--</appender>-->
<!--&lt;!&ndash; 按照每天生成日志文件 &ndash;&gt;-->
<!--<appender name="FILE"  class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">-->
<!--        &lt;!&ndash;日志文件输出的文件名&ndash;&gt;-->
<!--        <FileNamePattern>${LOG_HOME}/runtime.%d{yyyy-MM-dd}.%i.log</FileNamePattern>-->
<!--        &lt;!&ndash; each file should be at most 10MB, keep 30 days worth of history, but at most 10GB &ndash;&gt;-->
<!--        <maxFileSize>10MB</maxFileSize>-->
<!--        &lt;!&ndash;日志文件保留天数&ndash;&gt;-->
<!--        <MaxHistory>30</MaxHistory>-->
<!--        &lt;!&ndash;用来指定日志文件的上限大小，那么到了这个值，就会删除旧的日志&ndash;&gt;-->
<!--        <totalSizeCap>10GB</totalSizeCap>-->
<!--    </rollingPolicy>-->
<!--    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
<!--        &lt;!&ndash;格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符&ndash;&gt;-->
<!--        <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>-->
<!--    </encoder>-->
<!--</appender>-->

<!--&lt;!&ndash; 日志输出级别 &ndash;&gt;-->
<!--<root level="INFO">-->
<!--    <appender-ref ref="STDOUT" />-->
<!--    <appender-ref ref="FILE" />-->
<!--</root>-->
<!--</configuration>-->
